<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../assets/img/major.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Show do Major RD</ion-card-title>
      <p>Este show é totalmente gratuito, não é recomendado para play boys</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Vagas de emprego</ion-card-subtitle>
      <ion-card-title>Ionic 5</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Precisamos de desenvolvedores que atuam na plataforma Ionic 5
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Wifi ativo</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Bebida</ion-label>
    </ion-item>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Atenção .activated</ion-label>
    </ion-item>
    <ion-item href="" class="activated">
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Pessoa</ion-label>
    </ion-item>
  </ion-card>

    <ion-item href="" class="activated">
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Pessoa</ion-label>
    </ion-item>

    <ion-card color="danger">
      <ion-card-header>
        <ion-card-subtitle>Vagas de emprego</ion-card-subtitle>
        <ion-card-title>Ionic 5</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Precisamos de desenvolvedores que atuem na plataforma Ionic 5.
      </ion-card-content>
    </ion-card>

</ion-content>